#questions
  .container_16
    .grid_16

      %h1 Browse All Questions

      - @questions.order("created_at desc").each do |q|
        %p
          = link_to q.question, question_path(q)
          - if logged_in? && q.already_voted(current_user)
            %span.already_voted ALREADY VOTED
          - elsif logged_in? && q.is_mine?(current_user)
            %span.your_question YOUR QUESTION