.container_16
  .grid_16

    #show_question_nojs.center

      %h1 You're a ninja!

      %br
      %br

      %p You've completed all the questions on the site! Maybe it's time for you to #{link_to 'ask a question', new_question_path}.