#ninja
  .container_16
    .grid_16

      #question_style_block.center

        .aplus= image_tag "aplus.png"

        .spacer_20

        %p You are truly amazing. You must have been a straight A student because you just totally aced every question we had in our database.

        .spacer_20

        %p While we stop at the refueling station to pick up some more awesome questions for you, why don’t you try #{link_to 'asking a few of your own', new_question_path}  and invite your friends to join the fun as well.

        .spacer_20

        %p Rock on you crazy explorer of question and answer greatness!!!
