.slim_form
  = simple_form_for :session, :url => sessions_path do |f|
    = f.input :email, label: false, placeholder: "email *"
    = f.input :password, label: false, placeholder: "password *"
    .submit
      = f.submit 'LOGIN', class: "submit"