#about

  .container_16
    .grid_16

      #question_style_block

        %h1 About RollPoll

        %h6 What the hell is RollPoll?
        %p RollPoll is a quick and easy way to get feedback and input from the outside world on all those little random questions you’ve been dying to ask (and it’s super addicting). You are able to poll the audience about anything your little heart desires, and you’ll start getting instant results from our community.

        %p If you can’t come up with any interesting questions to ask, you can roll through our database of questions and check out how your answers compare to the rest of world. Don’t worry, you don’t need to study -- there are no wrong answers. Maybe you’re a total hipster and are the outlier on every question. Maybe you’re a crowd pleaser and agree with the community all the time. There’s only one way to find out – #{link_to 'start answering some questions', root_path}.

        .spacer_20
        %h6 Who the hell is responsible for RollPoll?
        %p RollPoll is the product of a Lean Startup Machine (LSM) Event called Idea Jam – see below for more information on Idea Jam. You can thank Hilary Gosher from Insight Venture Partners for the inspiration for the idea. The rest of the work was done by NYC on Rails – a boutique web development shop in NYC that specializes in building initial prototypes for startups and entrepreneurs with brilliant ideas.

        %p If you really want to thank someone for the addictiveness of RollPoll, please send your compliments to David Lesches (#{link_to 'david@nyconrails.com', 'mailto:david@nyconrails.com'}) the Lead Engineer at NYC on Rails, and John Petersen (#{link_to 'john@nyconrails.com', 'mailto:john@nyconrails.com'}), Head of Operations and Awesome Ideas.

        .spacer_20
        %h6 Why the hell does it look like it was built in a week?
        %p RollPoll is the result of a Lean Startup Machine (LSM) Event called Idea Jam. This was a fun event where they flipped the tables a bit. LSM brought in three Venture Capitalists to have them pitch their best ideas to a carefully selected group of qualified developers and designers. From there it was up to the participants to decide if they wanted to build out any of the ideas that were pitched.

        %p There was only one catch – you had <strong><u>one week</u></strong> to build something and present it to the judges.

        %p As a web development shop that specializes in building prototypes, we couldn’t resist the challenge. So we built upon one of the ideas from Hilary Gosher from Insight Venture Partners and off we went. We had David, our Lead Engineer, whip this up in under 3 days while also sneaking some client work in there. Yeah, he’s good :)

        %p So yes, there is a lot more we wanted to include in this, but when you are building out a Minimum Viable Product under a very tight timeline, you really have to throw a lot of the fun, nice-to-have features out the window. Hope you enjoy it as much as we do!